@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap');
body {
  font-family: 'Ubuntu', sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/*::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #fcfcfc;
}

::-webkit-scrollbar-thumb {
  background: #ce1212;
}

::-webkit-scrollbar-thumb:hover {
  background: #960000;
}*/

.navbar-brand {
  /*Sposta leggermente la scritta "Free-BSD" verso destra*/
  margin-left: 2%;
}

.navbar {
  background-color: #b0d77f;
}

.nav-link {
  font-weight: 550;
  float: right;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.collapse {
  margin-right: 3%;
}

h1,
h2,
h3,
h4,
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
}

.slide1 {
  /*Imposta un'altezza minima per la slide iniziale*/
  min-height: 60vh;
  /*Imposta il background per la slide iniziale*/
  background-color: rgb(233, 191, 122);
}

.slide1 .col-sm-8 {
  /*Sposta il testo della slide1 20h in giù, per staccarsi leggermente dalla navbar*/
  margin-top: 20vh;
}

.slide1 .logo {
  /*Stile per il logo di FreeBSD*/
  max-height: 40vh;
  margin: 100px;
}

.slide1 .btn-storia {
  /*Modifica lo stile del bottone della slide 1*/
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.slide1 .btn-storia:hover {
  /*Design che assume il bottone quando il mouse si trova sopra si esso*/
  background-color: Black;
  color: white;
  border-color: black;
}
